<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Pre-29 needs runtime grant; 29+ uses scoped storage and ignores this. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- Lets isAppInstalled() probe IG / TikTok / Snapchat / WhatsApp on Android 11+. -->
    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.whatsapp" />
        <package android:name="com.twitter.android" />
    </queries>

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.richshare.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/richshare_file_paths" />
        </provider>
    </application>

</manifest>
